[general]
window_size_x = 1136
window_size_y = 692
implicitlywait = 60
networktablewait = 60
alertwait = 120

[FritzBox]
fbip = 10.1.100.100
fbuser = user
fbpasswd = secret

[Hostname_source]
dnsserver = 10.1.100.10
hostsfile = fb_hosts
order = dnsserver hostsfile

[Exclude_hosts]
exclude_hosts = ['10.1.100.201', '10.1.100.130', '10.1.100.128']

[Logging]
loglevel = 1

